<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <title>WeRV</title>

</head>

<body>
    <section class=Vmedia>
        <div class="Vmedia-image">
            <img class="Vimage" src="/static/images/cover.jpg" alt="Vimage" />
        </div>
        <div class="Vinfo">
            <div class="Vinfo-C">
                <hgroup class="Vinfo-left">

    </section>
</body>

</html>